
@{
        Layout = null;      
}

@model MVCSecond.Models.intermediate

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    
    <title>Test</title>
    @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    

    <link href="~/Content/Menu.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>

   <div class="leftmenu">
       <div >

           <div >
               <ul>
                   <li ><a >Hi @Session["Username"]!</a> </li>
                   <li>@Html.ActionLink("Login", "Index", "Home")</li>
                   <li>@Html.ActionLink("Register", "Register", "Home")</li>
                   <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                   <li>
                       @Html.ActionLink("Logout","Logout","Home")
                   </li>
                   <li>@ViewBag.suc</li>
               </ul>
           </div>
       </div>
   </div>
   
    <div class="bg">
      <div class="user">
         @Session["Username"]
         @Session["Surname"]
      </div>
        
    </div>
  
          <div>
            <h1>
                @ViewBag.Err
            </h1>

            <div style="float:left; margin-left:50px;"> 

            @Html.Partial("_banks", Model.Enumallmodel)

            </div>
            <div id="changed" style="float:right; margin-right:50px; height:300px; overflow-y:scroll;">
                        @Html.Partial("_Order", Model.Enumallmodel)              
            </div>
              <div class="clear"></div>
              
        <button class="button" style="float:right;  margin-right:50px; margin-top:-50px"  data-toggle="modal" data-target="#loginmodal">Ավելացնել</button>           
            @Html.Partial("PopUp",Model.Normallmodel)      
        </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>

</html>
@section scripts{
    
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js" ></script>
    }